.bookCard {
    width: 30rem;
    height: 55rem;
    border: 2px solid whitesmoke;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
}

.titles_authors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.titles_authors > img {
    height: 25rem;
    border-radius: 1rem;
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 1.75rem;
    color: whitesmoke;
}

.titles_authors  div {
    display: flex;
    gap: 5px;
}

.titles_authors  p {
    font-family: cursive;
    color: whitesmoke;
}

.price_react {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    color: whitesmoke;
}

.react {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.react p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.iconStyle{
    width: 2rem;
    height: 2rem;
    filter: invert(100%) sepia(36%) saturate(2483%) hue-rotate(185deg) brightness(128%) contrast(92%);
}

.aktivLikes {
    width: 2rem;
    height: 2rem;
    filter: invert(17%) sepia(97%) saturate(6843%) hue-rotate(359deg) brightness(111%) contrast(118%);
}

.aktivFavorit {
    width: 2rem;
    height: 2rem;
    filter: invert(97%) sepia(39%) saturate(7486%) hue-rotate(353deg) brightness(105%) contrast(105%);
}

.commits {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    gap: 5px;
    margin-bottom: 5px;
}

.readInput {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.readInput > input {
    width: auto;
    background-color: rgba(0, 0, 0, 0.65);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    padding: 5px;
}

.readInput > button {
    width: auto;
    background-color: rgba(0, 0, 0, 0.65);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.textOutput {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28rem;
    height: 13rem;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.50);
    color: whitesmoke;
    overflow-x: hidden;
    overflow-y: scroll;
    
}

.textOutput p {
    width: 90%;
}

.textOutput::-webkit-scrollbar{
    width: 4px;
}

.textOutput::-webkit-scrollbar-track{
    background: whitesmoke;
    border-radius: 4px;
    
}

.textOutput::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 4px;
}

@media screen and (min-width: 550px) and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 0px) and (max-width: 549px) {
    html {
        font-size: 10px;
    }

    .readInput {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4px;
    }
}